<div class="sidebar">
    <h2>Actions</h2>
    <ul>
        <li><a href="admin/pword">Change Password</a></li>
        <li><a href="" data-ng-click="logOut()">Log Out</a></li>
    </ul>
</div>
<div class="content">
    <h1>Upload New Image</h1>
    <form data-ng-submit="imageForm.submit()">
        <fieldset data-file-dropzone="[image/png, image/jpeg, image/gif]"
            data-file="imageForm.image" data-file-name="imageForm.fileName"
            data-max-file-size="13">
            <div class="error" data-ng-show="imageForm.errors.length">
                <p data-ng-repeat="error in imageForm.errors">{{ error.message }}</p>
            </div>
            <div class="message" data-ng-show="imageForm.messages.length">
                <p data-ng-repeat="message in imageForm.messages">{{ message.message }}</p>
            </div>
            <div class="form-group">
                <label for="title">Short Title</label>
                <input id="title" type="text" autofocus required
                    data-ng-model="imageForm.title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="5" required
                    data-ng-model="imageForm.description"></textarea>
            </div>
            <div class="form-group">
                <label>Image File</label>
                <span class="input" data-ng-show="imageForm.image === ''">
                    Drag and drop an image on this form to upload.
                </span>
                <span class="input" data-ng-show="imageForm.image !== ''">
                    {{ imageForm.fileName }}
                </span>
            </div>
            <div class="form-group">
                <button type="submit" data-ng-disabled="imageForm.image === ''">
                    Upload New Image
                </button>
            </div>
            <div class="form-group">
                <div class="image-container">
                    <img src="{{ imageForm.image }}" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
