<div class="sidebar">
    <h2>Actions</h2>
    <ul>
        <li><a href="admin/new">Upload New Image</a></li>
        <li><a href="" data-ng-click="logOut()">Log Out</a></li>
    </ul>
</div>
<div class="content">
    <h1>Change Password</h1>
    <form data-ng-submit="passwordForm.changePassword()">
        <fieldset>
            <div class="error" data-ng-show="passwordForm.errors.length">
                <p data-ng-repeat="error in passwordForm.errors">{{ error.message }}</p>
            </div>
            <div class="status" data-ng-show="passwordForm.messages.length">
                <p data-ng-repeat="message in passwordForm.messages">{{ message.message }}</p>
            </div>
            <div class="form-group">
                <label for="oldPass">Current Password:</label>
                <input type="password" id="oldPass" autofocus required
                data-ng-model="passwordForm.oldPass">
            </div>
            <div class="form-group">
                <label for="newPass">New Password:</label>
                <input type="password" id="newPass" required
                data-ng-model="passwordForm.newPass">
            </div>
            <div class="form-group">
                <label for="verifyPass">Verify Password:</label>
                <input type="password" id="verifyPass" required
                data-ng-model="passwordForm.verifyPass">
            </div>
            <div class="form-group">
                <button>Change Password</button>
            </div>
        </fieldset>
    </form>
</div>
