.sidebar {
    box-shadow: 0 1px 3px 0 rgba(50, 50, 50, .4);
    margin-top: .4em;
    padding-left: 1em;

    @include media($mobile) {
        @include span-columns(5);
    }

    @include media($tablet) {
        @include span-columns(3);
        font-size: 70%;
    }

    @include media($desktop) {
        @include span-columns(5);
    }

    a {
        display: block;
    }

    ul {
        padding: 0;

        li {
            margin: .2em;
        }
    }
}

.content {
    @include media($mobile) {
        @include span-columns(5);
    }

    @include media($tablet) {
        @include span-columns(7);
        font-size: 70%;
    }

    @include media($desktop) {
        @include span-columns(15);
    }
}

.form-group {
    overflow: hidden;

    @include media($tablet) {
        label {
            @include span-columns(3 of 7);
            text-align: right;
            white-space: nowrap;
        }

        input,
        button {
            @include span-columns(4 of 7);
        }

        button {
            @include shift(3);
        }
    }

    @include media($desktop) {
        label {
            @include span-columns(5 of 15);
            text-align: right;
            white-space: nowrap;
        }

        input,
        button,
        textarea,
        .input {
            @include span-columns(10 of 15);
        }

        button {
            @include shift(5);
        }
    }

    .image-container {
        float: left;
        margin-top: 5px;
        width: 100%;

        img {
            display: block;
            max-width: 100%;
        }
    }

    .input {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 0;
    }
}

